/* Universal */
@font-face {
font-family: Kosugi Maru;
src: url(KosugiMaru-Regular.ttf);
}

* {
box-sizing: border-box;
margin: 0px;
font-family: Kosugi Maru;
}

body {
  background-color: #e1f8dc;
}

.pg_title {
  text-align: center;
  font-size: 2em;
  padding: 0.2em;
}

a {
  text-decoration: none;
}
/* Header */
.header_main {
  background-color: #ffffff;
  border-bottom: 1px solid grey;
}

.header_main img {
  width: 50px;
  vertical-align: middle;
}

.header_main span {
  vertical-align: middle;
  font-size: 1.2em;
}

.menu_header {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  margin-left: 5px;
  text-align: center;
}
.menu_header li {
  margin-right: 5px;
  background-color: #e1f8dc;
  padding: 5px;
}

/* Coming Soon */
.coming_soon {
  background-color: #ffffff;
  padding: 8px;
  border: 1px solid grey;
  margin: auto;
  margin-bottom: 10px;
  height: 400px;
  width: 90%;
}

.coming_soon .cs_title {
  text-align: center;
  font-size: 1.7em;
  background-color: #40396e;
  color: white;
  padding: 8px;
}

.coming_soon p {
  text-align: center;
  font-size: 1.2em;
}

/* Paragraph */
.container {
  padding: 10px;
  margin: auto;
}
p {
  padding: 5px;
  font-size: 1.1em;
}

@media (min-width: 500px) {
  .container {
    width: 90%;
  }
}

/* List ol and ul */
ol {
  
}

ul {
  
}

li {
  
}

li a {
  text-decoration: none;
}

li a:hover {
  color: #000;
}

/* Code Preview */
#code {
  background-color: #ffffff;
  width: 100%;
  outline-color: #40396e;
  border: none;
  resize: none;
}

#example-text {
  background-color: black;
  color: #ffffff;
  padding: 5px;
  margin-top: 5px;
  width: 100px;
  border-radius: 4px 4px 0px 0px;
}

#demo {
  background-color: #ffffff;
  border-radius: 2px;
  min-height: 200px;
  box-shadow: 8px;
  padding-top: 8px;
}

/* Docs List */
.docs_list ul {
  list-style-type: none;
  padding: 0;
}

.docs_list li {
  background-color: #ffffff;
  padding: 10px;
  margin: 3px;
  border-radius: 3px;
  border: 1.5px solid #e5e5e5;
}

.docs_list li:hover {
  background-color: #40396e;
  color: white;
}

.docs_list a {
  color: black;
}

/* Footer */
.footer_main {
  background-color: #ffffff;
  padding: 10px;
}

.footer_main p {
  text-align: center;
  color: #000000;
}

.footer_main ul {
 list-style-type: none;
 padding: 0;
 text-align: center;
}

.footer_main li {
  display: inline;
  margin: 2px;
  background-color: #e1f8dc;
  padding: 5px;
  color: blue;
}